* {
    box-sizing:border-box;
}

body {
    background-image: url("./images/field.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-areas: 
        "header header header"
        "left main right"
        "footer footer footer";
    grid-template-columns: 400px 3fr 400px;
    grid-template-rows: 180px 380px 150px;
    grid-gap: 2rem 1rem;
    margin: 0;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}

h1 {
    font-family: "Modak", sans-serif;
    color: #FFB906;
    font-size: 160px;
    font-weight: 400;
    margin: 0;
}

.the {
    rotate: -35deg;
    font-size: 100px;
}

h2 {
    font-family: "Modak", sans-serif;
    color: white;
    font-size: 36px;
    font-weight: 50;
    margin: 0; 
    line-height: 1;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    margin: 0;
}

#eggCounter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#eggsSecondDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#eggsClickDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.headerImg {
    width: 200px;
}

#mainEgg {
    position: relative;
    grid-column: 2 /3;
    grid-row: 1 / 2;
}

.mainEggImg {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

#mainEgg:active {
    transform: translateY(-12px);
}

.clickDiv {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    text-align: center;
    text-wrap: wrap;
}

.clickme {
    rotate: 35deg;
    color: tomato;
    font-size: 54px;
    margin-bottom: 20px;
    z-index: 2;
    animation-name: nudgeclickme;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes nudgeclickme {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-20px, 20px)
}
}

.handDiv {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    text-align: center;
}

.hand {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    margin-bottom: 50px;
    z-index: 2;
    animation-name: nudgehand;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes nudgehand {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(20px, 20px)
}}

main {
    grid-area: main;
    display: grid;
    grid-template-rows: 6fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    text-wrap: nowrap;
}

aside.left {
    grid-area: left;
    background-color: rgb(255, 99, 71, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    text-align: center;
}

aside.right {
    grid-area: right;
    background-color: rgb(255, 99, 71, 0.7);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
}

#shop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 90%;
    width: 300px;
    height: 160px;
}

.shopTitles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #ffd500;
    max-width: 90%;
    width: 300px;
}
.shopItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

button {
    background-color: #ffd500;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 4px 4px rgb(157, 156, 156);
    font-weight: bold;
}

button:hover {
    background-color:  white;
    color: #FFB906;
}

button:active {
    background-color: white;
    color: tomato;
    box-shadow: 4px 4px rgb(63, 63, 63);
    transform: translate(4px, 4px);
}

#errorMsg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.eggBasketImg {
    object-fit: cover;
    width: 200px;
}

.mainEggImg {
    max-width: cover;
    width: 300px;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerImgDiv {
    overflow: hidden;
    width: 100%;
    max-height: 150px;
}
.footerImg {
    max-width: 150px;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-name: slidein;
    animation-timing-function: steps(15, end);
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        margin-left: 0%;
        width: 100%;
    }
    to {
        margin-left: 100%;
        width: 100%;
    }
}
